div[class*="container-"] {
    display: flex;
}

.container-1 {
    align-items: center;
    border: 4px dotted black;
}

.container-1 > div[class*="box-"] {
    padding: 15px;
    border: 1px solid red;
    margin: 20px 0px;
}

.box-1 {
    order: 3;
}

.box-1 span {font-weight: bold}


.container-2 {
    margin: 50px 0px;
    justify-content: flex-end;
    border: 4px dotted blue;
    flex-wrap: wrap

}

.container-2 > .box {
    padding: 15px;
    border: 1px solid black;
    margin: 20px 10px;
}

.container-3 {
    align-content: space-around;
    margin: 100px 0px;
    border: 4px dotted palevioletred;

}

.container-3 > .box {
    border: 1px solid black;
    align-self: flex-end;
    margin: 20px 5px;
}